# Dependencies
node_modules

# Environment variables
.env
.env.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing files
*.http

# OS files
.DS_Store
Thumbs.db

# Build files
dist
build